﻿
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Username Login";
}
<!DOCTYPE html>
<head>
    
</head>
<style>
.center{
    text-align:center;
}
h3{
    color: white;
    border:3px solid white;
}
</style>
<body style="background-color:powderblue" ;>

    <div class="center">
        <form action="/home" target="_blank" method="POST" name="username">
            <h3>User Name:</h3>
            <input type="text" id="username" name="username"><br>
            <br /><h3>Password:</h3>
            <input type="password" id="pass" name="password"
                   minlength="8" required><br />
            <input type="submit" value="Submit" OnClick="SubmitForm">
        </form>
    </div>

</body>
