﻿@model MyFirstBlogSite.Models.Blog

@{
    ViewData["Title"] = "Blog Post 1";

}

<!DOCTYPE html>
<html>
<head>
    <title>Page Title</title>
</head>
<style>
    .center {
        text-align: center;
    }

    h2 {
        border: 3px solid white;
    }

    p {
        border: 1px solid black;
    }
</style>
<body style="background-color:powderblue" ;>

    <div class="center">
        <h2>This is my 1st Blog Post</h2>
        <p>This is where I put info/text for my 1st blog post.</p>
    </div>
</body>
</html>
