﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-1">Austin's 1st Blog</h1>
</div>

<!DOCTYPE html>
<html>
<head>
    <title>Page Title</title>
</head>
<style>
    .center {
        text-align: center;
    }

    h2 {
        border: 3px solid white;
    }

    p {
        border: 1px solid black;
    }

    ul {
        text-align: left;
    }

    ol {
        text-align: left;
        border: 1px solid red;
    }
</style>
<body style="background-color:powderblue" ;>

    <div class="center">
        <h2>This is my 1st Blog Post</h2>
        <p>This is where I put info/text for my 1st blog post.</p>

        <h2>2nd Blog Post: The 3 Things You Need Before Leaving The House:</h2>

        <ul>
            <li>Phone <input id="Checkbox1" type="checkbox" /></li>
            <li>Keys <input id="Checkbox1" type="checkbox" /></li>
            <li>Wallet <input id="Checkbox1" type="checkbox" /></li>
        </ul>

        <h2>3rd Blog Post: The 3 Things You Need To Survive</h2>

        <ol>
            <li>Food <input id="Checkbox1" type="checkbox" /></li>
            <li>Shelter <input id="Checkbox1" type="checkbox" /></li>
            <li>Money <input id="Checkbox1" type="checkbox" /></li>
        </ol>

        <h2 style="background-color:white;">This Is My 4th Blog Post</h2>

        <p style="background-color:red; text-align: left; color:white;">
            Here is where I have a red background color and white text for my paragraph
        </p>
    </div>

    <h2 text-align="left">5th Blog Post: This Is A Drop Down List</h2>
    <p text-align="left">
        <select>
            <option value="one">One</option>
            <option value="two">Two</option>
            <option value="three">Three</option>
            <option value="four">Four</option>
        </select>
        <input type="submit" value="Submit">
    </p>
</body>
</html>





